<div id="<%= dom_id address %>">
  <p>
    <strong>Address line 1:</strong>
    <%= address.address_line_1 %>
  </p>

  <p>
    <strong>Address line 2:</strong>
    <%= address.address_line_2 %>
  </p>

  <p>
    <strong>Postal town:</strong>
    <%= address.postal_town %>
  </p>

  <p>
    <strong>County:</strong>
    <%= address.county %>
  </p>

  <p>
    <strong>Post code:</strong>
    <%= address.post_code %>
  </p>

</div>
